* {
  box-sizing: border-box;
  margin: 0;
  padding: 10;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: #BCAACA;
}

h1 {
  margin: 32px 0;
  color: #A4243B;
  font-size: 24px;
}

h3 {
  margin: auto;
  color: rgb(66, 171, 231);
  font-size: 20px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.low {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.medium {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.high {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}

.about-me-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #BCAACA;
}

.about-me-page h1 {
  margin-bottom: 20px;
  font-size: 7rem;
}

.bio {
  max-width: 600px;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  color: #98A886;
  background-color: #191923;
  padding: 20px;
  border: #fff 2px solid;
  border-radius: 10px;
}
.developer-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 2px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header {
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  background-color: #98A886;
  color: #191923;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #98A886;
}

.footer {
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #98A886;
}

.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #BCAACA;
}

.contact-page h1 {
  margin-bottom: 20px;
  font-size: 7rem;
}

.contact-form {
  max-width: 600px;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  color: #191923;
  background-color: #98A886;
  padding: 20px;
  border: #fff 2px solid;
  border-radius: 10px;
}

.resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 1.5;
  color: #191923;
  background-color: #BCAACA;
  padding: 20px;
}

.resume a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.resume a:hover {
  color: #66aaff;
}

.resume h1 {
  margin-bottom: 20px;
  font-size: 3rem;
}

.project-card {
  background-color: #191923;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.project-card h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #C16200;
}

.project-card p {
  font-size: 1rem;
  color: #C16200;
  margin-bottom: 10px;
}

.project-card a {
  color: #66aaff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.project-card a:hover {
  color: #fff;
}

.project-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}